[export_numpy]

# Path settings
data = "./raw_data/"
out = "./"
prefix = "full_"

# Alignment options
align_ref = "transition_density"

# State selection
state_idx = 1

# Units
energy_unit = "kcal/mol"
ex_energy_unit = "ev" #Excitation energy, instead of the energy of a specific excited state
distance_unit = "ang"
grad_unit = ["kcal/mol", "ang"]
force_unit = ["kcal/mol", "ang"]

# Dataset splitting
train_splits = [1000, 500, 2000]
val_splits = 400
test_splits = 400

[prepare_tddft]

# Path settings
path = ""
file = ""
out = "/raw_data/"

# Molecule
charge = 0
spin = 1

# reference file
ref = "ref.in"

# dataset size
dataset_size = 2000

energy_unit = "kcal/mol"
ex_energy_unit = "ev"
distance_unit = "ang"
grad_unit = ["kcal/mol", "ang"]
force_unit = ["kcal/mol", "ang"]



# QCHEM MODULE
[multi_states]
use_defaults = "qchem"
spins = [1,3,5,7]

[convert_out_to_inp]
use_defaults = "qchem"


[defaults.qchem]
ref = "ref.in"
charge = 0
spin = 1
file = ""

[traj_split]
use_defaults = "qchem"

input_dir = ""
outdir = ""
split_file = "split.npz"

train = 0
val = 0
test = 0


# SCAN MODULE
[scan1d]
use_defaults = "scan"
inp_path = "./"
out_path = ""
prefix = ""
ref = "ref.in"
row_max = 40
row_start = 2.0
row_distance = -0.02
ncore = 16
njob = 4
scan_limit_init = 5
scan_limit_progress = 4
poll_interval = 60
launcher = "srun"

[defaults.scan]
path = ""
prefix = "scan"
ref = "ref.in"


[qchem_env]
use_defaults = "pete"

[defaults.osc]
env_script = """
module purge
export QC=/scratch/moriya/software/soc
export QCAUX=/scratch/zhengpei/q-chem/qcaux
source $QC/bin/qchem.setup.sh
export QCSCRATCH=/scratch/$USER/cache
module load impi/2021.2.0
module load intel/2021.2.0
"""

[defaults.pete]
env_script = """
module purge
export QC=/scratch/moriya/software/soc
export QCAUX=/scratch/zhengpei/q-chem/qcaux
source $QC/bin/qchem.setup.sh
export QCSCRATCH=/scratch/$USER/cache
module load impi/2021.2.0
module load intel/2021.2.0
"""


[run_mecp]
path = "/scratch/moriya/molecule/ref_dir"
file = "ref.in"
out = "./mecp_out"
jobtype = "mecp"
gradient = "analytical"
spin1 = 1
spin2 = 3
nthreads = 16
max_stepsize = 0.1
step_size = 0.01
max_steps = 80
conv = 1e-5

[FD]
path = "./"
outpath = "./out/"
ref = "ref.in"
distance = 0.001
ncore = 32
njob = 8
launcher = "srun"
