[export_numpy]

# Path settings
data = "./raw_data/"
out = "./"
prefix = "full_"

# Alignment options
align_ref = "transition_density"

# State selection
state_idx = 1

# Units
energy_unit = "kcal/mol"
ex_energy_unit = "ev" #Excitation energy, instead of the energy of a specific excited state
distance_unit = "ang"
grad_unit = ["kcal/mol", "ang"]
force_unit = ["kcal/mol", "ang"]

# Dataset splitting
train_splits = [1000, 500, 2000]
val_splits = 400
test_splits = 400

[prepare_tddft]

# Path settings
path = ""
file = ""
out = "/raw_data/"

# Molecule
charge = 0
spin = 1

# reference file
ref = "ref.in"

# dataset size
dataset_size = 2000

energy_unit = "kcal/mol"
ex_energy_unit = "ev"
distance_unit = "ang"
grad_unit = ["kcal/mol", "ang"]
force_unit = ["kcal/mol", "ang"]

[multi_states]
use_defaults = "qchem"

[convert_out_to_inp]
use_defaults = "qchem"


[defaults.qchem]
ref = "ref.in"
charge = 0
spins = 1
file = ""